body,
html {
  height: 100%;
  font-family: "Lato";
  color: #4a4a4a;
  font-size: 25px;
}

/* This * selects every element and adds styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .hide {
  display: none;
} */

.rotate {
  transform: rotate(45deg) perspective(700px);
  transform-origin: center center;
}

/* ***** Elements inside menu ***** */
/* Links */
.side-nav-link {
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  color: white;
  text-shadow: 3px 3px 2px black;
}

.side-nav-link:hover {
  color: lemonchiffon;
  text-shadow: 3px 2px 4px white;
  text-decoration: none;
}

.side-nav-link:active {
  color: black;
  text-shadow: 3px 2px 4px white;
  text-decoration: none;
}

/* links in menu  */
ul {
  list-style: none;
}

/* Links in menu won't show when menu is closed */
.desktop {
  display: none;
}

.menu__icon {
  height: 32px;
  width: 43px;
  margin: 3%;
  position: absolute;
  top: 10px;
  left: 3%;
  display: inline-block;
  vertical-align: middle;
  z-index: 20;
}

.menu__icon span {
  display: block;
  background: darkgray;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  position: absolute;
  left: 15px;
  top: 50%;
}

/* Menu icon open/closing */
.menu__icon:before,
.menu__icon:after {
  content: "";
  display: block;
  background: darkgray;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  transform-origin: center center;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menu__icon:before {
  top: 2px;
  margin-top: -2px;
}

.menu__icon:after {
  bottom: 2px;
  margin-bottom: -2px;
}

.menu_shown .menu__icon span {
  background: transparent;
}

.menu_shown .menu__icon:before {
  top: 50%;
  transform: rotate(45deg);
}

.menu_shown .menu__icon:after {
  bottom: 50%;
  transform: rotate(-45deg);
}

.mobile.menu {
  background-image: url("assets/ContainerBG.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 112px;
  z-index: 10;
  transition: all 0.4s ease-in-out;
  transform: translateX(-100%);
}

/* opens smoothly */
.menu_shown .mobile.menu {
  transform: translateX(0);
}

/* links */
.mobile .menu__item {
  display: block;
  line-height: 2;
  padding: 25px 0;
  font-size: xx-large;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  color: floralwhite;
  text-shadow: none;
}

.mobile .menu__item:hover {
  color: lemonchiffon;
  text-shadow: 3px 2px 4px white;
  text-decoration: none;
}

/* Images Div */
.images {
  display: inline;
}

/* Main page landing with my pic  */
.parallax {
  background-image: url("assets/19742.jpg");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* overflow: hidden; */
}
.center-parallax {
  height: 223px;
}

.about-me-div {
  background-color: #d7a966;
  text-align: center;
  max-width: 100%;
  padding: 60px 110px;
}

#myResLink {
  color: #f2d0b7;
  text-shadow: 2px 2px 4px grey;
  text-align-last: center;
  font-size: 35px;
}

#myResLink:hover {
  color: #676767;
  text-shadow: 2px 2px 4px #f2d0b7;
  text-align-last: center;
  font-size: 35px;
  text-decoration: none;
}

.aboutMe-p {
  color: #2b2a29; 
  font-family: "Montserrat", sans-serif;
}

.center-h2-div {
  text-align: center;
}

.my-work-h2 {
  font-family: "Poiret One";
  text-align: center;
  padding-top: 73px;
  font-weight: 700;
  z-index: 2;
  position: relative;
}
.pink-hex-pic {
  width: 266px;
  margin: -148px 0px 0px 0px;
  overflow: hidden;
  z-index: -5;
  position: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: url("assets/ContainerBG.jpg");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f2d0b7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ecd6dc;
}

.portfolioImg {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

#portfolioUl {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  scroll-behavior: smooth;
}

.portfolioImgLi {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: min(50vw, 350px);
  display: inline-block;
  text-align: center;
  background-color: #16171f;
  color: #9b9dad;
  padding-bottom: 1.5rem;
  font-size: clamp(18px, 2.5vw, 22px);
  box-shadow: -10px 0 30px 0 rgba(#000, 0.25);
  margin-left: -4px;
}

#portfolioDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* or */
  /* margin-top: -150px; */
}





/* $item-width: 90%; */

/* .carousel {
  padding: 20px;
  -webkit-perspective: 500px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 40%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.carousel figure img {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0px;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: wheat;
  background: darkslategrey;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 25%;
  margin: 0px 20px;
} */

.carousel {
  padding: 90px;
  perspective: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #676767;
}
.carousel > * {
  flex: 0 0 auto;
}
.carousel figure {
  margin: 0;
  width: 46%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.carousel figure img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0px;
}
.carousel figure img:not(:first-of-type) {
  position: absolute;
  left: 0;
  top: 0;
}
.carousel nav {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}
.carousel nav button {
  flex: 0 0 auto;
  margin: 0 5px;
  cursor: pointer;
  color: #333;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  padding: 5px 10px;
}


@media only screen and (max-width: 600px) {
  .nav-link-on-lg {
    display: none;
  }

  .hello-display-on-sm {
    font-family: 'Montserrat Alternates';
    padding: 85px 0px 0px 67px;
    margin: 0px 0px 0px 0px;
    font-size: 8vw;
    font-weight: 600;
    letter-spacing: 2px;
}

.title-display-on-sm {
  font-family: 'Montserrat Alternates';
  padding: 234px 10px 0px 70px;
  font-size: 12vw;
  font-weight: 600;
  letter-spacing: 1px;
}

  .title-pic {
    /* height: 200px;
    margin: 318px 0px 0px 61px;
    position: absolute; */
    display: none;
  }

  .name-pic {
    /* height: 180px;
  margin: 93px 0px 0px 33px;
  position: absolute; */
    display: none;
  }

  .profile-pic {
    /* display: none; */
    height: 35vw;
    position: absolute;
    margin: 215px 0px 0px 155px;
}
}

@media only screen and (min-width: 601px) {
  .title-display-on-sm,
  .hello-display-on-sm {
    display: none;
  }

  .nav-link-on-lg {
    display: none;
  }

  .title-pic {
    height: 34%;
    margin: 328px 0px 0px 48px;
    position: absolute;
  }

  .name-pic {
    height: 32%;
    margin: 119px 0px 0px 59px;
    position: absolute;
  }

  .profile-pic {
    height: 31%;
    margin: 229px 0px 0px 245px;
    position: absolute;
  }

  .mobile.menu {
    background-image: url("assets/ContainerBG.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    min-height: 100vh;
    text-align: center;
    padding-top: 112px;
    z-index: 10;
    transition: all 0.4s ease-in-out;
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 655px) {
  .menu__icon {
    display: none;
  }

  .desktop {
    display: inline;
    padding-top: 45px;
    font-size: 22px;
  }

  .side-nav {
    background-image: url("assets/DarkBGHexagon.png");
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100%;
    width: 44%;
    padding-top: 8px;
  }

  .side-nav-link {
    padding: 40px 0px 0px 18px;
    font-weight: 600;
    font-size: 155%;
  }

  .link-1 {
    margin: 18px 0px 0px 10px;
  }

  .link-2 {
    margin: 40px 0px 0px 55px;
  }

  .link-3 {
    margin: 40px 0px 0px 42px;
  }

  .link-4 {
    margin: 40px 0px 0px 0px;
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
    padding-left: 50px;
  }

  a {
    cursor: pointer;
    font-family: "Montserrat Alternates", sans-serif;
    color: floralwhite;
    text-shadow: none;
  }

  .title-pic {
    position: absolute;
    height: 38%;
    margin: 315px 0px 0px -59px;
  }

  .profile-pic {
    position: absolute;
    height: 28%;
    margin: 224px 0px 0px 162px;
  }

  .name-pic {
    position: absolute;
    height: 38%;
    margin: 70px 0px 0px -59px;
  }
}

@media only screen and (min-width: 745px) {
  .menu__icon {
    display: none;
  }

  .desktop {
    display: inline;
    padding-top: 45px;
    font-size: 22px;
  }

  .side-nav {
    background-image: url("assets/DarkBGHexagon.png");
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100%;
    width: 44%;
    padding-top: 8px;
  }

  .side-nav-link {
    padding: 40px 0px 0px 18px;
    font-weight: 600;
    font-size: 155%;
  }

  .link-1 {
    margin: 18px 0px 0px 10px;
  }

  .link-2 {
    margin: 40px 0px 0px 55px;
  }

  .link-3 {
    margin: 40px 0px 0px 42px;
  }

  .link-4 {
    margin: 40px 0px 0px 0px;
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
    padding-left: 50px;
  }

  a {
    cursor: pointer;
    font-family: "Montserrat Alternates", sans-serif;
    color: floralwhite;
    text-shadow: none;
  }

  .title-pic {
    position: absolute;
    height: 38%;
    margin: 314px 0px 0px -60px;
  }

  .profile-pic {
    position: absolute;
    height: 34%;
    margin: 206px 0px 0px 160px;
  }

  .name-pic {
    position: absolute;
    height: 38%;
    margin: 70px 0px 0px -61px;
  }
}

@media only screen and (min-width: 807px) {
  .title-pic {
    height: 38%;
    margin: 315px 0px 0px -61px;
    display: inline;
    position: absolute;
  }

  .name-pic {
    display: inline;
    height: 38%;
    margin: 69px 0px 0px -61px;
    position: absolute;
  }

  .profile-pic {
    height: 35%;
    margin: 204px 0px 0px 157px;
    position: absolute;
  }

  .side-nav-link:hover {
    color: lemonchiffon;
    text-shadow: 3px 2px 4px white;
    text-decoration: none;
}
}

@media only screen and (min-width: 885px) {
  .menu__icon {
    display: none;
  }

  .desktop {
    display: inline;
    padding-top: 26px;
    font-size: 22px;
  }

  .side-nav {
    background-image: url("assets/DarkBGHexagon.png");
    display: inline-flex;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100%;
    width: 44%;
  }

  .side-nav-link {
    padding: 40px 0px 0px 18px;
    font-weight: 600;
    font-size: 155%;
  }

  .link-1 {
    margin: 18px 0px 0px 15px;
  }

  .link-2 {
    margin: 40px 0px 0px 55px;
  }

  .link-3 {
    margin: 40px 0px 0px 42px;
  }

  .link-4 {
    margin: 40px 0px 0px 0px;
  }

  .grow {
    transition: all 0.2s ease-in-out;
  }

  .grow:hover {
    transform: scale(1.1);
    padding-left: 50px;
  }

  a {
    cursor: pointer;
    font-family: "Montserrat Alternates", sans-serif;
    color: floralwhite;
    text-shadow: none;
  }

  .title-pic {
    height: 39%;
    margin: 322px 0px 0px -33px;
    display: inline;
    position: absolute;
  }

  .name-pic {
    display: inline;
    height: 38%;
    margin: 62px 0px 0px -27px;
    position: absolute;
  }

  .profile-pic {
    height: 38%;
    margin: 194px 0px 0px 210px;
    position: absolute;
    /* display: inline-flex; */
  }
}

/* @media only screen and (max-width: 475px) {
  .title-pic {
    height: 225px;
    position: absolute;
    display: inline-flex;
    margin: 275px 0px 0px 15px;
}

.name-pic {
  height: 190px;
  position: absolute;
  display: inline-flex;
  margin: 70px 0px 0px 80px;
}

.profile-pic {
  height: 150px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  display: inline-flex;
}
} */

/* .profile-pic {
  height: 150px;
  margin: 0px 0px 0px 0px;
  position: absolute;
  display: inline-flex;
} */

/* @media (min-width: map-get($viewport_size, l)) {
  nav {
    padding: 3% 6%;
    background: #7eb4e2;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
} */

/* 
.navbar-brand{
  font-size: xx-large;
}

.nav-item {
  font-family: 'Montserrat Alternates', sans-serif;
  color: black;
  font-size: x-large;

} */

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poiret One', cursive; */
